.meeting__chat {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__header > h2 {
  text-align: center;
}

.chat__messages {
  flex: 1;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat__messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat__messages {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firebox */
}

.chat__footer {
  display: flex;
  height: 4rem;
}

.chat__footer > form {
  flex: 1;
  display: flex;
  margin: 1rem;
  color: white;
}

.chat__footer > form > input {
  flex: 1;
  outline-width: 0;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.chat__footer > form > button {
  display: none;
}
