.message {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  position: relative;
  margin: 15px;
}

.message > text {
  margin: 15px;
  font-size: medium;
  font-weight: 400;
}

.message > small {
  color: gray;
  position: absolute;
  font-size: 8.5px;
  bottom: -5px;
  left: 0;
}

.message__avatar {
  object-fit: contain;
  height: 35px !important;
  width: 35px !important;
}
