.controls {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #18181b;
  width: 100%;
  height: 75px;
  z-index: 10;
}

.left {
  height: 100%;
}

.center,
.right {
  display: flex;
  margin: 10px 30px;
}

.details {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

.button {
  border: 1px solid #343434;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 0 0.5rem;
  transition: all 0.25s linear;
}

.button > span > svg {
  color: white;
}

.details:hover,
.button:hover {
  background-color: #343434;
}

.micOn > svg,
.videoOn > svg {
  color: white;
}

.micOff > svg,
.videoOff > svg {
  color: red;
}

#leave > span > svg {
  color: red !important;
  text-transform: none;
}

#more {
  display: none;
}

.moreButtons {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.container > p {
  display: none;
  margin-left: 5px;
  font-weight: 500;
}

.dropMore {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 80px;
  right: 5px;
  background-color: #18181b;
  display: none;
}

#invite {
  display: none;
}

@media only screen and (max-width: 650px) {
  .center,
  .right {
    margin: 0;
  }
  #more {
    display: unset;
  }
  .moreButtons {
    display: none;
  }
  .dropMore {
    display: flex;
  }
  .container > p {
    display: flex;
  }
}

@media only screen and (max-width: 460px) {
  .left {
    display: none;
  }
  #invite {
    display: flex;
  }
}
