.controls {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #18181b;
  width: 100%;
  height: 75px;
  z-index: 10;
}

.left {
  height: 100%;
}

.center,
.right {
  display: flex;
  margin: 10px 30px;
}

.details {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

.button {
  border: 1px solid #343434;
  color: white;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 0 0.5rem;
  transition: all 0.25s linear;
}

.details:hover,
.button:hover {
  background-color: #343434;
}

.micOff > svg,
.videoOff > svg {
  color: red;
}

#leave {
  color: red;
  text-transform: none;
}

@media only screen and (max-width: 550px) {
  .left {
    display: none;
  }
  .center,
  .right {
    margin: 0;
  }
}
