.controls {
  flex: 0.05;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left,
.center,
.right {
  display: flex;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 10px;
  min-width: 40px;
  cursor: pointer;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.micOff > svg,
.videoOff > svg {
  color: red;
}

#leave {
  color: red;
  text-transform: none;
}

@media only screen and (max-width: 500px) {
  .sendMail {
    right: 0;
  }
}
