.details {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  height: 200px;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 100px;
  left: 20px;
  border-radius: 10px;
}

.icon {
  object-fit: contain;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  display: flex;
  border-bottom: 2px solid whitesmoke;
}

.section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  color: #3f51b5;
  width: 85px;
  display: flex;
  justify-content: space-between;
}

.link:hover {
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #3f51b5;
}

.invite {
  display: grid;
  place-items: center;
  margin-bottom: 40px;
}

.body {
  margin-top: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info {
  margin-left: 20px;
}

.copyId {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.copyId > svg {
  margin-right: 10px;
}

.copyId:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
