.dropdown {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: absolute;
  z-index: 999;
  top: 60px;
  right: 50px;
  width: 40%;
  height: fit-content;
  max-height: 316px;
  min-width: 250px;
  max-width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
  transition: height 500ms ease;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropdown::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dropdown {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firebox */
}

.menu {
  width: 100%;
}

.menu > h3 {
  color: #484a4d;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.profile > div {
  object-fit: contain;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.letter {
  text-transform: capitalize;
}

.icon {
  background-color: #484a4d;
  color: white;
  width: 40px;
  height: 40px;
  background-color: #484a4d;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.icon > svg {
  font-size: 30px;
}

.status {
  margin: 20px;
}

.status > span {
  object-fit: contain;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.message {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message > small {
  font-weight: 400;
  right: 0;
}

.sender {
  font-weight: 800;
  color: #484a4d;
}

.options > button {
  margin-left: 10px;
}
