.right,
.left {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 72px;
}

.info {
  flex: 0.5;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.info > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 3px solid #3f51b5;
  width: fit-content;
}

.info > p {
  font-size: 1.5rem;
  font-weight: 400;
}

.image {
  height: 100%;
  width: 50%;
}

.image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 700px) {
  .image {
    width: 100%;
  }
  .image > img {
    max-height: 300px;
  }
  .left {
    flex-direction: column-reverse;
    height: auto;
  }
  .right {
    flex-direction: column;
    height: auto;
  }
  .info {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .info > h1 {
    text-align: center;
    margin-bottom: 5px;
  }
}
