.footer {
  padding: 24px;
  background-color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.goTop {
  z-index: 2;
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
.topButton {
  width: 60px;
  height: 60px;
  background-color: #525252;
  color: #fff;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}
.topButton:hover {
  background-color: #3f51b5;
}

.topButton > svg {
  margin-top: 10px;
}

.info {
  margin-top: 10px;
  color: white;
}

.title > h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}

.slogan > h3 {
  font-weight: 500;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social {
  margin: 0 10px;
  margin-top: 10px;
}

.social > a > svg {
  color: white;
}

.social > a > svg :hover {
  color: #3f51b5;
}

.copyright > p {
  margin-top: 30px;
  font-size: 1rem;
  word-spacing: 2px;
  text-transform: capitalize;
}

.copyright > p > span {
  color: gray;
}
