.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: white;
}

.left {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 6px;
}

.middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.middle > svg {
  color: gray;
}

.middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
}

.letter {
  text-transform: capitalize;
}
