.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.left {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

.middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.middle > svg {
  color: gray;
}

.middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.right {
  display: flex;
  padding-right: 20px;
}

.letter {
  text-transform: capitalize;
}
