.header {
  display: flex;
}

.menuButton {
  margin-right: 36px;
}

.hide {
  display: "none";
}

.drawer {
  width: 240px;
  flex-shrink: 0;
  white-space: nowrap;
}

.avatar {
  transition: filter 300ms;
}

.avatar:hover {
  filter: brightness(1.1);
}
