.homeCards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.upper {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Google Sans Display", Roboto, Arial, sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.25rem;
  padding-bottom: 0.5em;
  max-width: 500px;
}

.homeImage {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 8px;
  width: 50%;
  max-width: 600px;
  min-width: 350px;
  display: flex;
  justify-content: center;
}

.homeImage > img {
  object-fit: contain;
  width: 90%;
  padding: 1rem;
}

.cards {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.card {
  display: grid;
  place-items: center;
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

.card > h3 {
  margin-top: 20px;
  font-weight: 500;
}

.icon > svg {
  margin-top: 10px;
  color: black;
  font-size: 100px;
}

#newMeeting {
  background-color: coral;
}

#joinRoom {
  background-color: dodgerblue;
}

@media only screen and (max-width: 1000px) {
  .homeCards {
    flex-direction: column;
  }
}
