.home {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  display: grid;
  place-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
