.homeCards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards {
  width: 350px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.card {
  display: grid;
  place-items: center;
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

.card > h3 {
  margin-top: 20px;
  font-weight: 500;
}

.icon > svg {
  margin-top: 10px;
  color: black;
  font-size: 100px;
}

#newMeeting {
  background-color: coral;
}

#joinRoom {
  background-color: #3f51b5;
}

#addFriend {
  background-color: #3f51b5;
}

#sendMail {
  background-color: #3f51b5;
}
