.login {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.login > h1 {
  padding: 50px;
}

.google {
  display: flex;
  border-radius: 3px;
  border: 1px solid #0074b1;
  cursor: pointer;
}

.google > button {
  font-size: medium;
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: #0074b1;
  cursor: pointer;
}

.google > img {
  object-fit: contain;
  height: 38px;
}

.login > p {
  padding-top: 30px;
}

.login > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.login > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  border-radius: 5px;
}

.login > form > button:hover {
  background-color: #0053b1;
}

.login__link {
  color: #0177b7;
  cursor: pointer;
}
