.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.tools {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.left {
  display: flex;
}

.sendMail {
  flex: 1;
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: #404040;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.header {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.header > h3 {
  color: whitesmoke;
  font-size: 13px;
}

.send {
  text-transform: capitalize !important;
  margin: 15px !important;
}

.close {
  cursor: pointer;
}

.sendMail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.error {
  background-color: white;
  color: red;
  text-align: right;
  padding: 2px;
}

.sendMail > form > input,
.sendMail > form > textarea {
  height: 30px;
  padding: 10px;
  border: none;
  border: 2px solid whitesmoke;
  outline: none;
}

.message {
  flex: 1;
  resize: none;
}

@media only screen and (max-width: 600px) {
  .sendMail {
    margin: 0;
  }
}
