.video {
  max-width: 700px;
  min-width: 320px;
  display: flex;
  align-items: center;
}

.video > video {
  width: 100%;
}

.cover {
  position: absolute;
  max-width: 700px;
  min-width: 320px;
  width: 100%;
  height: 40%;
  background: gray;
}

.cover > div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
}

.cover > h4 {
  position: absolute;
  bottom: 40px;
  left: 10px;
}

.videoOff {
  display: none;
}
